/* Move the pagination dots further below the slides */
.custom-swiper .swiper-pagination {
  position: relative;
  margin-top: 10px;
   /* Increase this value to move the dots further down */
}

/* Optional: Customize pagination dot appearance */
.swiper-pagination-bullet {
  background-color: #d1d5db; /* Light gray color for the dots */
  width: 12px;
  height:12px;
  margin: 0 5px; /* Add spacing between dots */
}

.swiper-pagination-bullet-active {
  background-color: #ef4444; /* Red color for the active dot */
}
